<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>2784</course_id>
  <course_name>Web Unit 1 Sprint 1</course_name>
  <root_account_id>168550000000000001</root_account_id>
  <root_account_name>BloomTech</root_account_name>
  <root_account_uuid>ek8JTTCFYUCbhq8Tn7tUHWeWWpyVwwPWvjH3D1mc</root_account_uuid>
  <canvas_domain>bloomtech.instructure.com</canvas_domain>
</context_info>
